RewriteEngine On

# To externally redirect /dir/file.php to /dir/file
RewriteCond %{THE_REQUEST} \s/+(.+?)\.php[\s?] [NC]
RewriteRule ^ /%1 [R=301,NE,L]

## To internally rewrite /dir/file to /dir/file.php
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^(.+?)/?$ $1.php [L]

RewriteBase /PHP-working-on-backend/

# external redirect to remove /dir/ from URLs
RewriteRule ^pages/(.+)\.php$ $1 [L,NC,R=302]

# internal rewrite to add /dir/ and .php to show content
RewriteCond %{DOCUMENT_ROOT}/PHP-working-on-backend/pages/$1.php -f
RewriteRule ^(.+?)/?$ pages/$1.php [END]


<IfModule mod_dir.c>
      DirectoryIndex index.html index.cgi index.pl index.php index.xhtml index.htm
</IfModule>
